<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <sessionState mode="Custom" customProvider="simpledb">
      <providers>
        <clear />
        <add name="simpledb" type="SimpleDbSessionStore.Store" key="XXXXXXXXXXX" secret="XXXXXXXXXXX"
             domain="MySessions" prefix="MySessionsV1" />
      </providers>
    </sessionState>
  </system.web>
</configuration>